.pagina-edicao {
    .mae {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        background-color: rgb(100, 143, 79);
        
    }

    main {
        align-items: center;
    }

    .flex-principal {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0px 70px 0px 0px;
    }

    .pca {
        padding: 0px 30px 0px 0px;
    }
    .cap {
        padding: 0px 0px 0px 30px;
    }

    .ppc {
        
        justify-content: end;
    }

    .campo {
        width: 507px;
        height: 50px;
        border: rgb(243, 241, 241);
        background-color: #f5f4f4;
        border: 0cm;
        font-size: 16px;

    }
    .campo1 {
        width: 855px;
        height: 50px;
        border: rgb(243, 241, 241);
        background-color: #f5f4f4;
        border: 0cm;
        font-size: 16px;
    }

    .campo1:hover {
        background: #fff;
    }


    h1 {
        color:#000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .campo:hover{
        background: #fff;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0!important;
        background: #f5f4f4;
        background-image: none;
        flex: 1;
        padding: 0 .5em;
        color: #000;
        cursor: pointer;
        font-size: 1em;
        font-family: 'Open Stans', sans-serif;
    }


    .select {
        position: relative;
        display: flex;
        width: 20em;
        height: 3.25em;
    
        overflow: hidden;
        
    }

    section {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
    }


    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em 1em 1.2em 1em;
        background: #2b2e2e;
        cursor: pointer;
        pointer-events: none;
        transition: .25s all ease;
        color: #fff;
    }

    .select:hover::after {
        color: #fff;
    }

    select:hover {
        background-color: #fff;
    }

    option {
        background-color: #fff;
        color: #000; 
    }

    a:hover {
        background-color: #fff;
    }

    .publi {
        display: flex;
        justify-content: right;
        padding: 40px;
        
    }
    a {
        text-decoration: none;
        text-align: center;
        color: #000; 
        background-color: #f5f4f4;
        width: 75px;
        height: 25px; 
        text-align: center;
    }


    /** Responsivo **/

    @media (max-width: 480px) {

        
        body {
            padding: 0px 0px 0px 100px;
    
        }
        h1 {
            text-align: center;
            padding: 0px 50px 0px 0px;
        
        }
        img {
            padding: 0px 50px 0px 0px;
        }
        .campo {
            width: 100px;
        
        
        }
        .campo1 {
            width: 400px;
        }
        .select {
            width: 270px;
        }
}
}