.pagina-login {

    .container-mae{
        height: 1250px;
        background-color: #648f4f;
        
    }
    
    .faixa-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40em;
        width: 62em;
    
        margin-top: 7em;
        background-color:#ffff;
        border-radius: 16px;
        padding: 90px 50px;
        margin-left: 11em;
    }
    
    .faixa-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .texto-logo {
        margin-left: -0.5em;
        margin-top: 1em;
    
        font-family: Georgia;
    }
    
    .logo{
        margin-top: 30px;
        margin-left: 65px;
        width: 210px;
        height: 190px;
        border-radius: 9000px;
    }
    
    
    .faixa{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .texto-login{
        text-align: center;
        font-family: 'Discord1';
        font-size: 50px;
        border-radius: 30px;
        margin-bottom: 50px;
    }
    
    .texto-email{
        font-family: Discord1;
        margin-left: 1em;
    }
    
    .input-email{
        width: 350px;
        height: 50px;
        border-radius: 20px;
    }
    
    .texto-senha{
        font-family: Discord1;
        margin-left: 1em;
    }
    
    .input-senha{
        width: 350px;
        height: 50px;
        border-radius: 20px;
    }
    
    .botoes{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    
        margin-top: 0em;
    }
    
    .botao-esqueci-senha{
        background-color: #ffff;
        border-bottom: #ffff;
        border-color: #ffff;
        color: #000000;
    
        font-family: Discord1;
    
        padding-top: 8px;
        margin-left: 1em;
        text-decoration: none;
    }
    
    .botao-entrar{
        text-align: center;
    
        font-family: Cambria;
    
        background-color: #EBEBEB;
        border-bottom: #EBEBEB;
        border-color: #EBEBEB;
    
        padding: 12px 20px;
        border-radius: 25px;
        margin-top: 2.5em;
        margin-left: 8em;
        text-decoration: none;
        color: #000000;
    }

    .botao-entrar:hover {
        background-color: #dfdfdf;
        transform: translatey(-3px);
    }

    .msg-erro {
        color: rgb(248, 83, 83);
        font-size: 13px;
    }
    
    .senha {
        margin-top: 1.2em;
    }

    @media(max-width: 480px) {
        .container-mae {
            height: 130vh;
        }

        .logo {
            height: 15vh;
            width: 20vh;
            margin-left: 3vh;
        }

        .texto-logo {
            font-size: 1.2em;
            margin-top: 0;
        }

        .faixa-principal {
            height: 55vh;
            width: 56vh;
            margin-top: 5vh;
            margin-left: 5vh;
        }

        img {
            height: 25vh;
            width: 30vh;
            margin-bottom: 10vh;
        }

        .input-email {
            height: 6vh;
            width: 35vh;
        }

        .input-senha {
            height: 6vh;
            width: 35vh;
        }

        .texto-login {
            font-size: 2em;
        }

        .botao-entrar {
            padding: 10px 15px;
            border-radius: 3vh;
            margin-left: 5vh;
            height: 3vh;
        }

        .botao-esqueci-senha {
            margin-left: 0vh;
        }
    }

}