.pagina-estoque {

    .container-mae {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        background-color: rgb(248, 154, 86);
    
        height: 100em;
    }
    
    .container-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        background-color: rgb(100, 143, 79);
        width: 100%;
        height: 7em;
        margin-top: -0.5em;
    }
    
    .img-logo {
        border-radius: 3em;
        margin-left: 3em;
    }
    
    .texto-logo {
        margin-right: 19em;
    }
    
    .container-texto-area {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        margin-right: 6em;
    
    }
    
    .texto-area {
        height: 1.2em;
        width: 20em;
        border: 1px solid black;
        background-color: #fff;
        text-align: left;
    
        border-radius: 2em;
        margin-right: 2em;
    }
    
    .container-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .titulo-estoque {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #000;
        background-color: #fff;
        text-align: center;
        border-radius: 0.9em;
    
        font-size: 18px;
        font-family: 'disc1';
        width: 68em;
        margin-top: 3em;
        margin-bottom: 2em;
    }
    
    .titulo-artmaac {
        color: rgb(100, 143, 79);
        margin-left: 10px;
    }
    
    .paragrafo-preco {
        color: rgb(180, 180, 180);
        margin-left: 8em;
        margin-top: 0.2em;
    }
    
    .paragrafo-estoque {
        margin-top: 0em;
    
    }

    .imagem-produto {
        height: 120px;
        width: 130px;
    }
    
    .container-tres-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        width: 84em;
    }
    
    .container-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 19em;
        height: 21em;
    
        margin-top: 4em;
        background-color: #fff;
        border-radius: 0.8em;
    
    }
    
    .container-botoes {
        display: flex;
        flex-direction: row;
    
        margin-top: 0.1em;
    }
    
    .botao-edicao {
        color: #000;
        background-color: blanchedalmond;
    
        padding: 5px 10px;
        text-decoration: none;
    }
    
    .botao-excluir {
        color: #000;
        background-color: blanchedalmond;
    
        padding: 5px 10px;
        margin-left: 40px;
        text-decoration: none;
    }
    
    .botao-edicao:hover {
        background-color: rgb(239, 241, 117);
        transform: translateX(-2px);
    }
    
    .botao-excluir:hover {
        background-color: rgb(231, 147, 147);
        transform: translate(2px);
    }
    
    .container-adicionar-produto {
        text-decoration: none;
    }
    
    .texto-adicionar-produto {
        margin-top: 1.5em;
        color: #000;
        
    }

    @media(max-width: 480px) {
        .container-mae {
            height: 245vh;
            width: 100%;

        }

        .container-header {
            justify-content: space-between;
            width: 86vh;
        }

        .texto-logo {
            margin-right: 0vh;
            margin-left: 1vh;
        }

        .texto-area {
            width: 25vh;
            margin-right: 2vh;
        }

        .img-logo {
            height: 14vh;
            width: 14vh;
            margin-left: 5vh;
        }

        .container-header h2 {
            font-size: 14px;
        }

        .container-texto-area {
            margin-right: 10vh;
        }

        .titulo-estoque {
            width: 86vh;
            border-radius: 0;
        }

        //TROCAR A TAG H1 PARA SPAN
        .titulo-artmaac {
            font-size: 26px;
        }

        //ADICIONAR CLASSE AS IMAGENS DOS PRODUTOS
        .imagem-produto {
            height: 16vh;
            width: 14vh;
        }

        .container-tres-cards {
            width: 86vh;
        }

        .container-card {
            height: 50vh;
            width: 25vh;
        }

        .paragrafo-preco {
            margin-left: 10vh;
        }

        .container-card p {
            font-size: 13px;
        }

        .botao-edicao {
            padding: 3px 3px;
        }

        .botao-excluir {
            padding: 3px 3px;
            margin-left: 4vh;
        }
    }

}